<body>
  <p-toast key="toast"></p-toast>

  <app-nav></app-nav>

  <form>
    <p-tabMenu [model]="items" [activeItem]="items[0]"> </p-tabMenu>

    <!-- WATCH -->
    <div
      [style]="{
        'background-color': 'var(--white-dark)',
        width: '97  %',
        height: '75vh',
        margin: '0 1em',
        'border-radius': '.5em'
      }"
      *ngIf="this.currentTAB == this.localTABs.WATCH"
    >
      WATCH
    </div>

    <!-- UPLOAD -->
    <div
      [style]="{
        'background-color': 'var(--white-dark)',
        width: '97  %',
        height: '75vh',
        margin: '0 1em',
        'border-radius': '.5em'
      }"
      *ngIf="this.currentTAB == this.localTABs.UPLOAD"
    >
      UPLOAD
    </div>
  </form>
</body>
