/* General */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, var(--blue-light), var(--blue-dark));
}

/* Header */

.login-form__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form__logo {
  width: 12em;
  margin-bottom: 2em;
}

/* Field container */

.login-form__field-container {
  position: relative;

}

.login-form__field-container-first {
  border-bottom: .15em solid var(--white-light);
}

.login-form__field-icon {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
}

.login-form__field-input {
  width: 20vw;
  height: 3em;
  padding-left: 2.2em;
  font-size: 1.3em;
}

.login-form__field-input-first {
  border-radius: .5em .5em 0 0;
}

.login-form__field-input-secondary {
  border-radius: 0 0 .5em .5em;
}


/* Btn container*/

.login-form__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em;
}

.login-form__btn-login {
  padding: .7em 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: .5em;
  background-color: var(--blue-light);
  color: var(--white-light);
  cursor: pointer;
}

.login-form__btn-checkbox {
  padding-left: 1em;
}

.login-form__btn-checkbox-span {
  padding-left: .7em;
  color: var(--white-light);
}

/* Footer */

.login-form_footer-text {
  color: var(--white-dark);
}
