<form class="login-form">
  <div class="login-form__header">
    <img class="login-form__logo" [src]="watermark" alt="churrasco watermark" />
    <div
      class="p-col-12 login-form__field-container login-form__field-container-first"
    >
      <i class="pi pi-user login-form__field-icon"></i>
      <input
        pInputText
        placeholder="Username"
        class="login-form__field-input login-form__field-input-first"
      />
    </div>
    <div class="p-col-12 login-form__field-container">
      <i class="pi pi-lock login-form__field-icon"></i>
      <input
        pInputText
        type="password"
        placeholder="Password"
        class="login-form__field-input login-form__field-input-secondary"
      />
    </div>
    <div class="p-col-12 login-form__btn-container">
      <div class="login-form__btn-checkbox">
        <input type="checkbox" class="login-form__btn-checkbox-input" />
        <span class="login-form__btn-checkbox-span">remember</span>
      </div>
      <button type="button" class="login-form__btn-login">Log in</button>
    </div>
  </div>
  <div class="login-form_footer">
    <p class="login-form_footer-text">web services under your control</p>
  </div>
</form>
