<form class="form-container" [formGroup]="productForm" (ngSubmit)="onSave()">
  <h2 class="form-title">‎</h2>
  <p-toolbar>
    <div class="toolbar-container__right">
      <button
        (click)="onCancelChild()"
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-undo"
        class="p-button-warning"
        style="margin-left: 0.25em"
      ></button>
      <button
        (click)="onSave()"
        type="button"
        pButton
        label="Save"
        icon="pi pi-save"
        class="p-button-info"
        style="margin-left: 0.25em"
      ></button>
    </div>
  </p-toolbar>
  <div class="form-container__fields">
    <div class="form-container__fields-left">
      <div class="field-container">
        <input
          pInputText
          formControlName="SKU"
          id="SKU"
          placeholder="SKU"
        />
      </div>
      <div class="field-container">
        <input
          pInputText
          formControlName="code"
          id="code"
          placeholder="Code"
        />
      </div>
      <div class="field-container">
        <input
          pInputText
          formControlName="pictures"
          id="pictures"
          placeholder="Pictures"
        />
      </div>
      <div class="field-container">
        <input
          pInputText
          formControlName="name"
          id="name"
          placeholder="Name"
        />
      </div>
      <div class="field-container">
        <input
          pInputText
          formControlName="description"
          id="description"
          placeholder="Description"
        />
      </div>
      <div class="field-container">
        <input
          pInputText
          formControlName="price"
          id="price"
          placeholder="Price"
        />
      </div>
      <div class="field-container">
        <input
          pInputText
          formControlName="currency"
          id="currency"
          placeholder="Currency"
        />
      </div>
    </div>
    <div class="form-container__fields-right">
      <img
        *ngIf="!fileUploaded"
        class="form-container__fields-right-cart"
        src="../../../../../assets/icons/cart1.jpg"
        alt=""
      />
      <img
        *ngIf="fileUploaded"
        class="form-container__fields-right-cart"
        src="../../../../../assets/icons/cart2.jpg"
        alt=""
      />
      <p-fileUpload
        name="file"
        (onSelect)="onSelectFileUploadChild($event)"
        (onUpload)="onUploadFileUploadChild($event)"
        [auto]="true"
        chooseLabel="Upload Product"
        uploadLabel="Upload"
        cancelLabel="Cancel"
        (onRemove)="onRemoveFile($event)"
        [multiple]="true"
      ></p-fileUpload>
    </div>
  </div>
</form>
