
.form-container {
  width: 93vw;
  height: 75vh;
  margin-left: 2em;
  background-color: white;
}

.toolbar-container__right {
  padding: 0 2em;
}

.form-container__fields {
  padding: 0 13em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-container__fields-right {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container__fields-right-cart {
  padding-bottom: 3.5em;
  width: 10em;
}


.p-fileupload .p-button .p-button-label {
  padding: 1em;
  background-color: #3B82F6;
  border-radius: 1em;
}

.p-button .p-button-icon-left {
  margin-right: .5em;
}

.p-fileupload .p-button .p-button-icon-left {
  display: none;
}

.form-title {
  width: 100%;
  display: flex;
  background-color: var(--blue-dark);
  justify-content: center;
  color: var(--white-dark);
}


/* Toolbar */

p-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Buttons (Toolbar right) */

.p-button-warning {
  color: var(--white-dark);
  color: var(--blue-dark);
}

.p-button-info {
  color: var(--white-dark);
}


.p-button-warning, .p-button-info {
  padding: .8em;
  margin: 1em;
}


