<form class="form-container">
  <h2 class="form-title">‎</h2>
  <p-toolbar>
    <div class="toolbar-container__right">
      <button
        (click)="onCancelChild()"
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-undo"
        class="p-button-warning"
        style="margin-left: 0.25em"
      ></button>
      <button
        (click)="onSave($event)"
        type="button"
        pButton
        label="Save"
        icon="pi pi-save"
        class="p-button-info"
        style="margin-left: 0.25em"
      ></button>
    </div>
  </p-toolbar>
  <div class="form-container__fields">
    <div class="form-container__fields-left"></div>
    <div class="form-container__fields-right">
      <img
        *ngIf="!fileUploaded"
        class="form-container__fields-right-cart"
        src="../../../../../assets/icons/cart1.jpg"
        alt=""
      />
      <img
        *ngIf="fileUploaded"
        class="form-container__fields-right-cart"
        src="../../../../../assets/icons/cart2.jpg"
        alt=""
      />
      <p-fileUpload
        name="file"
        (onSelect)="onSelectFileUploadChild($event)"
        (onUpload)="onUploadFileUploadChild($event)"
        [auto]="true"
        chooseLabel="Upload Product"
        uploadLabel="Upload"
        cancelLabel="Cancel"
        (onRemove)="onRemoveFile()"
      ></p-fileUpload>
    </div>
  </div>
</form>
