@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";

/* Root */

:root {
  --blue-light:  #4d438d ;
  --blue-dark:  #2f295e;
  --red-light:  #b92e4a;
  --red-dark: #733057;
  --white-light: #d0d1d1;
  --white-dark: #7d7e8a ;
}

/* General */

* {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

/* Toast messages */

p-toast .p-toast-message {
  font-size: 1.2em;
  padding: 1em .5em;
}

p-toast .p-toast-message-icon {
  font-size: 3em;
  padding: 0 .4em;
}
